@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply antialiased;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
    @apply bg-blue-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-700;
}